 .u-section-1 {
  background-image: url("images/UMG_Background.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 60px auto;
}